<div class="header">
  <h1><%= link_to "Riley's Thing", root_url %></h1>
  <div class="links">
    <ul>
      <li><%= link_to 'Blog', root_url %></li>
      <li><a href="" onclick="alert('Hello 2')">Hello 2</a></li>
      <li><a href="" onclick="alert('Hello 3')">Hello 3</a></li>
      <li style="float: right"><%= link_to 'New Article', new_article_path %></li>
    </ul>
  </div>
</div>
